@import 'https://fonts.googleapis.com/css?family=Lato:100';

body {
  transition: all .8s ease;
  font-family: "Lato", sans-serif;

}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

h1 {
  font-size: 15vw;
  font-weight: 700;
  display: none;
}

h2 {
  color: #fff;
  font-size: 2vw;
}

p {
  color: #fff;
  bottom: 0;
  right: 0;
  position: fixed;
  padding-right: 20px;
}

p a  {
  text-decoration: none;
  color: #fff;
  text-decoration: underline;
}


.spacebar {
  color: #333;
}

